<!DOCTYPE html>
<html>
  <head>
    <title>index menu</title>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <div class="container section">
    <div style='padding-top: 90px'>
    <a href="https://discordapp.com/oauth2/authorize?client_id=235276712949186560&scope=bot&permissions=-1">Ajouté le bot a votre serveur</a>
    </div>
    </div>
  </body>
  <% include ./partials/footer %>
  <script src="/js/a-jQuery.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/app.js" type="text/javascript" charset="utf-8"></script>
</html>