.btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}
.btn-primary.active, .btn-primary:active{
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
    background-image: none;
}
.btn-primary:hover {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
}
.btn:focus, .btn:hover {
    text-decoration: none;
}
.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
}
.btn:focus, .btn:hover {
    text-decoration: none;
}
.button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .5rem 1rem;
    font-size: 1rem;
}
.btn-secondary {
    color: #373a3c;
    background-color: #fff;
    border-color: #ccc;
}
.btn-secondary.focus, .btn-secondary:focus {
    color: #373a3c;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-secondary.active, .btn-secondary:active{
    color: #373a3c;
    background-color: #e6e6e6;
    border-color: #adadad;
    background-image: none;
}
.btn-secondary:hover {
    color: #373a3c;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.btn-success.active, .btn-success:active{
    color: #fff;
    background-color: #449d44;
    border-color: #419641;
    background-image: none;
}
.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #419641;
}
.btn-success.focus, .btn-success:focus {
    color: #fff;
    background-color: #449d44;
    border-color: #419641;
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.btn-info.active, .btn-info:active{
    color: #fff;
    background-color: #31b0d5;
    border-color: #2aabd2;
    background-image: none;
}
.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #2aabd2;
}
.btn-info.focus, .btn-info:focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #2aabd2;
}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}
.btn-warning.active, .btn-warning:active{
    color: #fff;
    background-color: #ec971f;
    border-color: #eb9316;
    background-image: none;
}
.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #eb9316;
}
.btn-warning.focus, .btn-warning:focus {
    color: #fff;
    background-color: #ec971f;
    border-color: #eb9316;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}
.btn-danger.active, .btn-danger:active{
    color: #fff;
    background-color: #c9302c;
    border-color: #c12e2a;
    background-image: none;
}
.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #c12e2a;
}
.btn-danger.focus, .btn-danger:focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #c12e2a;
}

.btn-facebook:hover {
    color: #fff;
    background-color: #2d4373;
    border-color: rgba(0,0,0,0.2);
}
.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}
.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 16px;
}
.btn-block + .btn-block {
    margin-top: 5px;
}
.btn-social>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}
.btn-google:hover {
    color: #fff;
    background-color: #c23321;
    border-color: rgba(0,0,0,0.2);
}
.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
}
.btn-twitter {
    color: #fff;
    background-color: #55acee;
    border-color: rgba(0,0,0,0.2);
}
.btn-twitter:hover {
    color: #fff;
    background-color: #2795e9;
    border-color: rgba(0,0,0,0.2);
}
.btn-github {
    color: #fff;
    background-color: #444;
    border-color: rgba(0,0,0,0.2);
}
.btn-github:focus, .btn-github.focus {
    color: #fff;
    background-color: #2b2b2b;
    border-color: rgba(0,0,0,0.2);
}
.btn-github:hover {
    color: #fff;
    background-color: #2b2b2b;
    border-color: rgba(0,0,0,0.2);
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active{
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}